<% unless events.empty? %>

  <div class='container box'>
    <div class='columns'>
      <span class='column'></span>

      <span class='column'>
        <div class='columns'>
          <% if action_page > 0 %>
            <%= link_to 'Previous', events_path(action_page_type => action_page - 1,
                                                second_page_type => second_page,
                                                third_page_type => third_page),
                                                class: 'column button is-light' %>
          <% else %>
            <button class='column button is-light', disabled>Previous</button>
          <% end %>

          <span class='column'>
            <span class='columns'>
              <span class='column is-one-fifth'></span>
              <span class='column is-three-fifth'><p>Page: <%= action_page %></p></span>
              <span class='column is-one-fifth'></span>
            </span>
          </span>

          <% unless action_status %>
            <%= link_to 'Next', events_path(action_page_type => action_page + 1,
                                                second_page_type => second_page,
                                                third_page_type => third_page),
                                                class: 'column button is-light' %>
          <% else %>
            <button class='column button is-light', disabled>Next</button>
          <% end %>
        </div>
      </span>

      <span class='column'></span>
    </div>
  </div>

<% end %>
