<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of close events</h1>
    <%= render 'display_events', list_events: @close_events %>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of upcoming events</h1>
    <%= render 'display_events', list_events: @active_events %>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of old events</h1>
    <%= render 'display_events', list_events: @old_events %>
  </div>
</section>
