<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of old events</h1>
    <%= render 'shared/display_events', list_events: @events %>
  </div>

  <%= render partial: 'shared/pagination' %>
</section>
